/* CC = CardContact */
/* CP = Contact Page */

#CP{
    display: flex;
    border: 3px dotted red;
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#CC-container{
    display: flex;
    justify-content: center;
    border: 3px solid white;
    min-width: 50%;
    max-width:50%
   
    
}


#CC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: sandybrown;  
    border: .8em solid var(--navBarColor);
    
    
    
    
    
    

    
}

.luna{
    width:200px;
    height: 150px
}
.CP-CC-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}

/* .CP-container{
   
    
} */



.CC-header{
    display: flex;
    align-items: center;
    border: 3px dotted blue;
}

.CC-title-container{
    border: 3px dotted green;

}

/* .CC-title{

} */

.CC-body{
    border:3px solid red;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    padding:1em;

}

.CC-footer{
    display: flex;
    border: 3px dotted green;
    align-items: center;
    align-content: center;
    
    
}

.logo{
    width: 2em;
    height: 2em;
}

.contactLink{
    text-decoration: none;
}

