/* CC = CardContact */
/* CP = Contact Page */

#CP{
    display: flex;
    /* border: 3px dotted red; */
    height: 100vh;
    align-items: center;
    justify-content: center;
}

#CC-container{
    display: flex;
    justify-content: center;
    border: 3px solid var(--headlineBlue);
    min-width: 50%;
    
}


#CC{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    background-color: black;  
    color: white;
    border: .8em solid var(--navBarColor);
    
    
    
    
    
    

    
}


.CP-CC-container{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */

}





.CC-header{
    display: flex;
    align-items: center;
    padding:2px;
    border: 3px dotted blue;
    
}



.CC-title{
    font-weight: 700;
    color: var(--headlineBlue);

}

.CC-body{
    /* border:3px solid red; */
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
    padding:1em;

}

.CC-footer{
    display: flex;
    /* border: 3px dotted green; */
    font-weight: 700;
    color: var(--headlineBlue);
    padding: 2px;
    
    
}

.logo{
    width: 2em;
    height: 2em;
}

.contactLink{
    text-decoration: none;
}

