

/* NB = Navbar */

#NB{
    color: var(--red);
    position: fixed;
    width: 100%;
    top: 0;
    
   
  }

  .NB-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: var(--red);
    color: whitesmoke
    /* position: fixed; */
    
  }
  
  .NB-link-container{
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        align-content: center;
        
  }
  
  .NB-link{
    display: flex;
    text-decoration: none;
    color: whitesmoke;
    margin: 5px;
    font-size: 14px;
    height:50px;
    align-items: center;
    justify-content: center;
    align-content: center;
    font-family: 'Oxygen', sans-serif; 
    color: var(--headlineBlue);
    transition: .3s;
  }
  
  .NB-link:hover {
    color: white;
    

  }
  
  .NB-title{
    margin-right: auto;
    margin-left: 10px;
    font-family: 'Oxygen', sans-serif; 
    font-size: 23px;
    color: var(--headlineBlue);}