

/* NB = Navbar */

#NB{
    color: red;
    position: fixed;
    width: 100%;
    
   
  }

  .NB-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    background-color: paleturquoise;
    /* position: fixed; */
    
  }
  
  .NB-link-container{
        display: flex;
        height: 50px;
        align-items: center;
        justify-content: center;
        align-content: center;
        
  }
  
  .NB-link{
    display: flex;
    text-decoration: none;
    color: black;
    margin: 5px;
    font-size: 14px;
    height:50px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  
  .NB-link:hover {
    color: black;
    background-color: rgb(134, 223, 223);
    box-shadow: 5px 5px black;
  }
  
  .NB-title{
    margin-right: auto;
    margin-left: 10px;
    font-family: 'Shadows Into Light', cursive;
    font-size: 23px;}