

/* PP = Project Page */
/* PC = Project Card */
/* IM = Image */

/*  Begin CSS for Projects.JS  */


#PP{
  display: flex;
  flex-direction: column;
  
}

  
.PC-container{
  display: flex;
  width: 100%;
  margin-bottom: 30px;
  height: auto;
  padding: 3rem;
} 


.PC{
  display: flex;
  flex-direction: column;
  height: 285px;
  width : 350px;
  min-width: 250px;
  box-shadow: -1rem 0 3rem black;
  transition: .2s;

  /* position: relative; */

}

.PC:hover{
  transform: translateY(-1rem);

}

.PC:hover .PC-buttons{
  display: flex;
  justify-content: space-between;
  transition: .2s;
}


.PC:hover~.PC{
  transform: translateX(100px);
  

}






.PC:not(:first-child){
  margin-left: -100px
}

.PP-IM{
  height:100%;
  width:100%;
  border-radius: 10px;
}

.PC-buttons{
  display: none;
  transition: 1s;

}




/* #PC-modal-closed{
  display: none;
  width: 100%;
  background-color: khaki;

}

#PC-modal-open{
  display: flex;
  width: 100%;
  background-color: khaki;

} */

/* #PC-modal:hover{
  display: fixed;
} */


/* .PP-allprojects-container{
    
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: darkslategrey;
  width: auto;
  
} */


.PC-container-one{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    
  }

/* .PP-container-two{

} */

/* .PP-container-three{

} */
 

 

  

  
  /* .PP-IM{
    height: 250px;
    width: 250px;
  }
  
  .IM-rps{
    height: 240px;
    width: 300px;
  
  }
  
  .IM-blackjack{
    
  }
  
  .IM-twitter-clone{
  height:300px;
  width: 300px;
  } */

  /* Project Card CSS */

  
  /* #PC{
    display: flex;
    flex-direction: column;
    border: solid;
    border-width: thin;
    border-color: lightgrey;
    width: 75%;
    background-color: white;
    border-radius: 8px;
    
  } */




 

  /* .PC-IM:hover{
    width: 110%;
    height: 110%;
  } */

  .PC-title-container{
    background-color: lightgrey;
  
  }
  
 .PC-modal-title{
    padding:4px;
  }
  
  .PC-modal-subtitle{
    color: rgb(87, 79, 79);
    font-size: 18px;
    padding:3px;
  }
  
  .PC-modal-body{
    padding: 3px;
    background-color: white;
  }
  
  .PC-gitlink{
    padding:3px;
  }
  
  .PC-modal-footer{
    
  }
  

  
