@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kalam&family=Libre+Baskerville&family=Montserrat&family=Montserrat+Alternates&family=Oxygen&family=Permanent+Marker&family=Raleway:ital@0;1&family=Roboto+Condensed&family=Shadows+Into+Light&family=Source+Serif+4&family=Space+Mono&display=swap');
/* @import blackJackImage from '../../images/bj.png' */

/* PP = Project Page */
/* PC = Project Card */
/* IM = Image */
/*  Begin CSS for Projects.JS  */




#PP{
  display: flex;
  flex-direction: column;
  
}

.PP-header{
  color: var(--headlineBlue);
  text-align: center;
  text-transform: capitalize
  
}

  
.PC-container-all{
  display: flex;
  width: 100%;
  padding: 2rem;
  height: auto;
  justify-content: center;
  flex-wrap: wrap;
  
  
} 


.PC{
  display: flex;
  flex-direction: column;
  height: 285px;
  width : 350px;
  min-width: 250px;
  box-shadow: -1rem 0 3rem black;
  transition: .2s;
  /* flex-wrap: wrap; */
  /* opacity: .8; */

  /* position: relative; */

}

.PC:hover{
  transform: translateY(-1rem);
  opacity: 1;

}

.PC:hover .sitelink-button{
  display: flex;
  justify-content: space-between;
  transition: .2s;
}


.PC:hover~.PC{
  transform: translateX(100px);
  

}

.PC-info{
  display: none;
  color: white;
  background-color: black;
  transition: .2s;
  padding: .8rem;
  font-family: 'Oxygen', sans-serif; 
}

.PC-info-header{
  color:var(--headlineBlue);
}

.PC:hover .PC-info{
  display: flex;
  flex-direction: column;
  border-radius: 0 0 5% 5%;
  border: 1ex solid var(--navBarColor);
}

/* .PC-one:hover{
  background-image: url('../images/bj.png');
  padding: 1em;
  background-repeat: no-repeat;
  background-size: 100% 285px;
  
} */

.sitelink-button{
  display: none;
  border-radius: 25%;
  background-color: var(--buttonBlue);
  color: white;
  box-shadow: 2px 2px 2px rgb(121, 117, 149);
  transition: .4s;
  opacity: .6;
  /* font-family: 'Dosis', sans-serif; */
  /* /* font-family: 'Libre Baskerville', serif; */
  /* font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif; */
  font-family: 'Oxygen', sans-serif; 
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Raleway', sans-serif;
  /* font-family: 'Source Serif 4', sans-serif; */
  /* font-family: 'Space Mono', monospace; */

}

.sitelink-button:hover{

  opacity: 1;
  display: flex
  
}


.PC:not(:first-child){
  margin-left: -100px
}

.PP-IM{
  height:100%;
  width:100%;
  transition: .2s;
}

.PP-IM:hover{
   border-radius: 5% 5% 0 0 ;
}

.PC-buttons{
  /* display: none; */
  transition: 1s;
  display: flex;
  justify-content: space-around;

}


.PC-container-one{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    
  }


.PC-title-container{
    background-color: lightgrey;
  
  }
  
.PC-modal-title{
    padding:4px;
  }
  
.PC-modal-subtitle{
    color: rgb(87, 79, 79);
    font-size: 18px;
    padding:3px;
  }
  
  .PC-modal-body{
    padding: 3px;
    background-color: white;
  }
  
  .PC-gitlink{
    padding:3px;
  }
  
  .PC-modal-footer{
    
  }
  

  
