#navbar{
  color: red;
}

#navlinkcontainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: paleturquoise;
  
}

.navlink{
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 12px
 
}

.navtitle{
  margin-right: auto;
  margin-left: 10px;
}

/* image styling for project page */

#projects-container{
  margin:5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  
}

.RPSimage{
  height: 225px;
  width: 280px;

}

.bjimage{
  height:500px;
  width:250px;
}