:root{
  background-color: lightyellow;
}

#navbar{
  color: red;
  position: fixed;
  width: 100%;
 
}

#navlinkcontainer{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50px;
  background-color: paleturquoise;
  /* position: fixed; */
  
}

.navlink{
  text-decoration: none;
  color: black;
  margin: 5px;
  font-size: 12px
 
}

.navtitle{
  margin-right: auto;
  margin-left: 10px;
}

/* image styling for project page */

#projects-container{
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightyellow;
  
  
}

.RPSimage{
  height: 240px;
  width: 300px;

}

.bjimage{
  height:500px;
  width:250px;
}

.twitter-clone-image{

height:300px;
width: 300px;
}
/* card styling */

.project-card{
  border: solid;
  border-width: thin;
  border-color: lightgrey;
  width: auto;
  background-color: white
}

.project-card-header{
  background-color: lightgrey;

}

.project-card-title{
  padding:4px;
}

.project-card-subtitle{
  color: rgb(87, 79, 79);
  font-size: 18px;
  padding:3px;
}

.project-card-body{
  padding: 3px;
  background-color: white;
}

.project-card-gitlink{
  padding:3px;
}
