
@import url('https://fonts.googleapis.com/css2?family=Dosis&family=Kalam&family=Libre+Baskerville&family=Montserrat&family=Montserrat+Alternates&family=Oxygen&family=Permanent+Marker&family=Raleway:ital@0;1&family=Roboto+Condensed&family=Shadows+Into+Light&family=Source+Serif+4&family=Space+Mono&display=swap');



body{

  padding:0;
  margin:0;
  background-color: black;
  /* font-family: 'Dosis', sans-serif;
  
  font-family: 'Libre Baskerville', serif;
  font-family: 'Montserrat', sans-serif;
  font-family: 'Montserrat Alternates', sans-serif;
  font-family: 'Oxygen', sans-serif;
  /* font-family: 'Permanent Marker', cursive; */
  /* font-family: 'Raleway', sans-serif;
  
  
  /* font-family: 'Source Serif 4', sans-serif; */
  /* font-family: 'Space Mono', monospace; */

  
}


